<form method="post" class="flex-column-center">
    <label for="amount">Antal kort att dra</label>
    <input type="number" name="amount" value="1" min="1" max="52">
    <input type="submit" name="draw" value="Dra kort">
    <input type="submit" name="new" value="Ny kortlek">
</form>
