{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>Metrics</h3>
        {% for text in texts %}
            {% apply markdown_to_html %}
                {{ text }}
            {% endapply %}
        {% endfor %}
    </div>
{% endblock %}
