{% block card %}
    <div class="card {% if (deckArr[i][1] == '&hearts;' or deckArr[i][1] == '&diams;') %}red{% endif %}">
        {{ deckArr[i][1] | raw }}
        {{ deckArr[i][0] }}
        {{ deckArr[i][1] | raw }}
    </div>
{% endblock %}
