{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        {% for text in texts %}
            {% apply markdown_to_html %}
                {{ text | raw }}
            {% endapply %}
        {% endfor %}
        <h3>Diagram över flödet vid spelstart</h3>
        <img src="../images/game-start-diagram.png" class="center-img" width="400">
    </div>
{% endblock %}
