{% block card %}
    <div class="card {% if (card.getUnicode == '&hearts;' or card.getUnicode == '&diams;') %}red{% endif %}">
            {{ card.getUnicode | raw }}
            {{ card.getRank | raw }}
            {{ card.getUnicode | raw }}
    </div>
{% endblock %}
