{% block card %}
    <div class="card {% if (card["unicode"] == '&hearts;' or card["unicode"] == '&diams;') %}red{% endif %}">
        {{ card["unicode"] | raw }}
        {{ card["rank"] }}
        {{ card["unicode"] | raw }}
    </div>
{% endblock %}
