{% extends "base.html.twig" %}

{% block title %}Kursbeskrivning{% endblock %}

{% block content %}
    <div class="container">
        <h3>Om kursen</h3>
        <p>Kursen heter {{ course }} och berör arkitekturmönstret med samma namn vilket står för model, view,
            controller. I kursen kommer vi använda Objektorienterad PHP med ramverket Symfony för att lära oss mer om
            objektorientering, designmönster, databashantering och annat.</p>
        <img src="images/mvc_again.jpg" class="center-img" width="400">
    </div>
{% endblock %}
