<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="{{ path('presentation') }}" class="navbar-link">Filip</a>
            </li>
            <li class="navbar-item">
                <a href="{{ path('about') }}" class="navbar-link">MVC</a>
            </li>
            <li class="navbar-item">
                <a href="{{ path('report') }}" class="navbar-link">Redovisning</a>
            </li>
        </ul>
    </div>
</nav>

