{# templates/presentation.html.twig #}
{% block header %}
    {% include 'header.html.twig' with {'title': 'Presentation'} %}
{% endblock %}
{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}
{% block content %}
    <div class="container">
        <h3>Om mig</h3>
        <p>Kul att du tittar in här. Mitt namn är {{ name }}. Jag är förstaårsstudent på Webbprogrammeringsprogrammet på
            BTH
            och
            det är på denna me-sida jag kommer presentera de uppgifter jag gjort i kursen.</p>
        <img src="images/me.jpg" class="center-img" width="400">
    </div>
{% endblock %}
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
