{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block content %}
    <div class="container">
        <h3>Redovisningstexter</h3>
        {% for text in texts %}
            {% apply markdown_to_html %}
                {{ text | raw }}
            {% endapply %}
        {% endfor %}
    </div>
{% endblock %}
