{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>Bibliotek</h3>
        <a href="{{ path('create_book') }}">Lägg till bok</a><br/>
        <a href="{{ path('library_show_all') }}">Se alla böcker</a><br/>
    </div>
{% endblock %}

