{% extends "library/show.html.twig" %}

{% block isbn %}
    <td><a href="{{ path('library_by_id', {id: book.id}) }}">{{ book.isbn }}</a></td>
{% endblock %}

{% block updatedelete %}
    <td>
        <form action="{{ path('library_update', {id: book.id}) }}">
            <input type="submit" value="Uppdatera" />
        </form>
    </td>
    <td>
    <form action="{{ path('library_delete_by_id', {id: book.id}) }}">
        <input type="submit" value="Ta bort" />
    </form>
    </td>
{% endblock %}
